.modalCard {
  position: absolute;
  z-index: 1000;
  background-color: white;
  width: 50%;
  height: 20%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 25%;
  top: 40%;
  box-sizing: border-box;
}
