.modalCard {
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
