.mainDiv {
}
#nav {
  z-index: 200;
}
.sideBar {
  padding-top: 20px;
  background-color: rgb(156, 180, 20);
  width: 10rem;
  height: 100vh;
  z-index: 100;
  position: fixed;
}
.sideBar ul {
  margin-left: 1rem;
}
.sideBar li {
  margin-top: 50px;
}
.sideBar p {
  color: white;
  display: inline;
  margin-left: 1rem;
  font-size: 20px;
}
#close {
  color: white;
  font-size: 30px;
  border: 2px solid white;
}
.icons {
  color: rgb(21, 29, 21);
  font-size: 30px;
}
